<footer class="footer-07">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading"><a href="#" class="logo">Project 1</a></h2>
                <p class="menu">
                    <a href="#">Home</a>
                    <a href="#">Agent</a>
                    <a href="#">About</a>
                    <a href="#">Listing</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact</a>
                </p>
                <ul class="ftco-footer-social p-0">
                    <li class="ftco-animate"><a href="https://github.com/vuong-nguyen-24072001" data-toggle="tooltip"
                            data-placement="top" title="Twitter"><i class="fa-brands fa-github"></i></a></li>
                    <li class="ftco-animate"><a href="https://www.facebook.com/profile.php?id=100007891482086"
                            data-toggle="tooltip" data-placement="top" title="Facebook"><i
                                class="fa-brands fa-facebook"></i></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i
                                class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p class="copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a
                        href="https://doan1-nguyenvanvuong.herokuapp.com" target="_blank">My site</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>