<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/logo/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Project 1
        <li class="navbar-infor">
            <ul class="navbar-infor-item">
                <a href="#">Config Camera</a>
            </ul>
            <ul class="navbar-infor-item">
                <a href="#">About me</a>
            </ul>
        </li>
    </a>
</nav>