<div class="train-images"></div>
<img src="" id="imageFace" alt="">
<h1>
    <%= port%>
</h1>
<div class="frame">
    <div class="loader hidden" id="loader"></div>
    <p class="frame-result" id="textResult">Reading model resources ...</p>
    <video id="video" autoplay="true" muted style="width: 800px;height: 720px;"></video>
</div>
<script src="js/script.js"></script>