<div class="train-images"></div>
<img src="" id="imageFace" alt="">
<div class="container">
    <div class="loader hidden" id="loader"></div>
    <p class="container-result" id="textResult">loading and trainning model ...</p>
    <video id="video" autoplay="true" muted style="width: 800px;height: 720px;"></video>
</div>
<script src="js/script.js"></script>